
body{
	 margin :0;
	 font-family :Arial,  Helvetica,Sans-serif,calibri;
}
#header{
	background-color: yellow;
	height: 80px;
	text-align: center;

} 
#menu{
	background-color: darkcyan;
	height :350px;
	padding: 1px;
	text-align: center;
}

#footer {
	height: 30px;
	padding: 5px;
	background-color: crimson;
	clear: both;
text-align: center;
}


  
