
body{
	 margin :0;
	 font-family :Arial,  Helvetica,Sans-serif,calibri;
}
#header{
	background-color: yellow;
	height: 80px;
	text-align: center;

} 
#menu{
	background-color: darkcyan;
	height :350px;
	padding: 1px;
	text-align: center;
}
#kalender{   
	width: 200px;
	height: 100px ;
	padding: 1px;
	float: righ;
}
#kalkulator{
	float:left;
	padding: 1px;
width: 355px;
	height: 300px ;
	background-color: skyblue;
}
#footer {
	height: 30px;
	padding: 5px;
	background-color: crimson;
	clear: both;
text-align: center;
}


  